.sidebar {
  position: fixed;
  top: 0;
  left: -240px;
  width: 240px;
  height: 100%;
  background-color: #333;
  color: #fff;
  transition: all 0.3s ease;
  font-size: 16px;
  }
  
.sidebar.active {
  left: 0;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar ul li {
  margin: 10px;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
}

.content {
  margin-left: 200px;
  padding: 20px;
}

.menu-icon {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 24px;
  cursor: pointer;
}
  